.valid-part {
    display: flex;
    flex-direction: column;
   margin-left: 550px;
   margin-right: 450px;
    margin-top: 20px;
}
.valid-part p {
    border: 1px solid black;
    width: 5vw;
    color: white;
    background-color: rgb(65, 199, 65);
    font-weight: bold;
    border-radius: 5px;
    font-family: 'Londrina Solid', cursive;
}
#falsch {
    background-color: rgb(233, 61, 61);
}